@import "_normal.scss";
@import "_var.scss";
header{
    width: 100vh;
    height: 60px;
    background-color: $bg-color;
    border-bottom: 3px solid $razer-color;
    font-family: sans-serif;
    li{
        img{
            width: 40px;
            margin-top: 10px;
        }
        display: inline-block;
        color: gray;
        margin-left: 4%;
        a{
            line-height: 60px;
        }
    }
    ul{
        margin-left: 8%;
    }
    .ham-menu{
        visibility: hidden;
        opacity: 0;
    }
}
.sale{
    .dropdown{
        visibility: hidden;
        opacity: 0;
    }
}
.searchbox{
    opacity: 0;
    visibility: hidden;
    display: none;
}
.search{
    a{
        i{
            padding-left: 20px;
        }
    }
}
.sale{
    a{
        i{
            padding-left: 20px;
        }
    }
}
a:hover{
color: white;
i{
    color: white;
}
}
a{
    transition: all .5s;
}
i{
    transition: all .5s;
}
.sale :hover{
    ul{
        visibility: visible;
        opacity: 1;
    }
} 